<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h3>About the Game</h3>
            <p>Higher-Lower is a fun and addictive guessing game where you test your intuition and knowledge. Can you guess which option is higher or lower?</p>
        </div>
        <div class="footer-section links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="{% url "Home" %}"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="{% url "About" %}"><i class="fa-solid fa-address-card"></i> About</a></li>
                <li><a href="{% url "Play" %}"><i class="fa-solid fa-play"></i> Play</a></li>
                <li><a href="{% url "Contact" %}"><i class="fa-solid fa-phone"></i> Contact</a></li>
                <li><a href="{% url "LogIn" %}" target="_blank"><i class="fa-solid fa-right-to-bracket"></i></i> Log in</a></li>
            </ul>
        </div>
        <div class="footer-section social">
            <h3>Follow Me</h3>
            <ul>
                <li><a href="https://github.com/soaebhasan12" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/soaebhasan" target="_blank"><i class="fab fa-linkedin"></i> Linked in</a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
                <li><a href="https://www.instagram.com/hasan.codes11/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 Higher-Lower Game. All rights reserved.</p>
        <p>Created By: Soaeb Hasan</p>
    </div>
</footer>