<header>
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'Home' %}">Higher-Lower Game</a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url "Home" %}">Home</a></li>
            <li><a href="{% url "Play" %}">Play</a></li>
            <li><a href="{% url "About" %}">About</a></li>
            <li><a href="{% url "LogIn" %}" target="_blank">LogIn</a></li>
            <li><a href="{% url "Contact" %}">Contact</a></li>
        </ul>
    </nav>
</header>